@import url(http://weloveiconfonts.com/api/?family=zocial);
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    padding-bottom: 10px;
}
header {
    border-bottom: 1px solid #aaa;
}
.header_logo svg {
    stroke: navy;
    stroke-width: 1px;
    fill: lightgray;
    margin-top: 1em;
}
.header_menu {
    display: none;
}
.header_title {
    font-family: "Orbitron", cursive;
}
.nav {
    display: none;
    font-family: "Play", sans-serif;
}
.category {
    font-family: "Indie Flower", sans-serif;
}
#name {
    background-color: navy;
    color: white;    
}
#title span {
    color: lightgray;
}
.category img {
    width: 100%;
    height: 200px;
    border: 0;
}
.category h3 {
    text-align: center;
}
.main_pic img {
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #aaa;
}
#social {
    line-height: 3em;
}
#social a {
    font-size: large;
    margin: 0 2em 0 0;
}
footer {
    margin-top: 10px;
    text-align: center;
    border-top: 1px solid #aaa;
}
@media only screen and (max-width: 991px) {
    .category img {
        height: 300px;
    }
}
@media only screen and (max-width: 767px) {
    .header_logo {
        text-align: center;
        height: 5em;
    }
    .header_logo svg {
        width: 72px;
        height: 72px;
    }
    .header_title {
        margin: 0;
    }
    .header_menu {
        display: inline-block;
        position: relative;
        left: 0;
        padding: 1em;
    }
    .header_menu svg {
        fill: navy;
    }
    #name {
        font-size: x-large;
    }
    #title {
        font-size: medium;
    }
    .nav {
        font-size: xx-large;
        text-align: left;
        display: inline-block;
        z-index: 10;
        background-color: #ddd;
        width: 200px;
        position: absolute;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-200px, 0);
        transform: translate(-200px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }
    .nav.open {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
    }
    .category {
          display: none;
    }
}
